html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next,
#root {
  background-color: black;
  min-height: 100dvh;
  width: 100%;
}
