@import "tailwindcss";

/* aclonica-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: '7segment';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/7segment/7segB.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: '7segment';
  font-style: bold;
  font-weight: 800;
  src: url('../../public/fonts/7segment/7segR.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.seg{

  font-family: "7segment";
  font: 400;
}

.red{
  color: #d01010e3;
}

.deathclock-page html,
.deathclock-page body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.deathclock-page {
  background-color: black;
  min-height: 100dvh;
  width: 100%;
}